<h1>Questionsの一覧</h1>
<table>
  <tr>
    <th>title</th>
    <th>content</th>
    <th>link</th>
  </tr>
  <%= @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.content %></td>
    <td><%= link_to 'show' ,question_path(question) %></td>
  </tr>
  <% end %>
</table>
